
service: gsuite-activity-log
custom:
  pythonRequirements:
    zip: false

provider:
  name: aws
  runtime: python3.7
  stage: ${opt:stage,'dev'}
  region: us-west-2
  environment:
    ENVIRONMENT: ${self:provider.stage}
    REGION: ${opt:region, self:provider.region}
    CONFIGFILE: config.${self:provider.stage}.yml
    FIREHOSE_DELIVERY_STREAM: ${file(config.${self:provider.stage}.yml):FIREHOSE_DELIVERY_STREAM}
    GSUITE_CREDENTIALS_SECRET_NAME: ${file(config.${self:provider.stage}.yml):GSUITE_CREDENTIALS_SECRET_NAME}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - ssm:*
      Resource:
        - "arn:aws:ssm:${opt:region, self:provider.region}:*:parameter/gsuite-events/lastquerytime"
    - Effect: Allow
      Action:
        - secretsmanager:*
      Resource:
        - "arn:aws:secretsmanager:${opt:region, self:provider.region}:*:secret:${self:provider.environment.GSUITE_CREDENTIALS_SECRET_NAME}"
    - Effect: Allow
      Action:
        - firehose:PutRecord
        - firehose:PutRecordBatch
      Resource:
        - "arn:aws:firehose:${opt:region, self:provider.region}:*:deliverystream/${self:provider.environment.FIREHOSE_DELIVERY_STREAM}"

functions:
  uoc:
    handler: gsuite-activity.handler
    timeout: 600
    reservedConcurrency: 1
    events:
      - schedule: rate(2 minutes)
package:
  exclude:
    - node_modules/**
    - .pytest_cache/**

plugins:
  - serverless-python-requirements
